.container.fixed-top.w-100.h-100
    section.row
        .col
            form((submit)="submit()")
                .form-group
                    label
                        span Selecciona los usuarios ({{ numUsersSelected() }} / {{ users.length }}) 
                        span (
                        a(href="#", (click)="selectAll($event)") Todos
                        span  / 
                        a(href="#", (click)="selectNone($event)") Ninguno
                        span )

                    ul.list-unstyled
                        li(*ngFor="let user of users")
                            label
                                input(type="checkbox", [(ngModel)]="user.selected", name="users[]")
                                span([innerHTML]="user.nameAndEmail")

                .row.w-100
                    .col
                        button.btn.btn-primary.btn-block.text-uppercase(type=submit, [disabled]="numUsersSelected() == 0")
                            span Continuar 
                            i.fa.fa-arrow-right

#loader.row.fixed-top.w-100.h-100.align-items-center.fade(*ngIf="loading")
    i.fa.fa-circle-o-notch.fa-spin.fa-3x.text-white
    div.fixed-top.w-100.h-100
