.container.fixed-top.w-100.h-100
    section.row
        .col
            div Downloading {{ downloaded.length }} / {{ files.length }} documents in
                span.text-muted {{ path }}

            ul.list-unstyled([ngClass]="{ 'animate': files.length > 0 }")
                li(*ngFor="let file of downloaded")
                    i.fa.fa-circle-o-notch.fa-spin(*ngIf="file.status == 'downloading'")
                    i.fa.fa-check-circle-o(*ngIf="file.status == 'downloaded'")
                    i.fa.fa-check-circle-o(*ngIf="file.status == 'skipped'")
                    i.fa.fa-times(*ngIf="file.status == 'error'")
                    span([ngClass]="{ 'text-muted': file.status == 'skipped', 'text-danger': file.status == 'error' }") .../{{ file.location }}

    .row
        .col
            .progress(*ngIf="downloaded.length < files.length")
                .progress-bar.progress-bar-striped.progress-bar-animated([ngStyle]="{ 'width': (downloaded.length * 100 / files.length) + '%'}")

            p(*ngIf="downloaded.length == files.length").text-white.bg-primary.text-center.font-weight-bold {{ stats }}

#loader.row.fixed-top.w-100.h-100.align-items-center.fade(*ngIf="loading")
    i.fa.fa-circle-o-notch.fa-spin.fa-3x.text-white
    div.fixed-top.w-100.h-100
