.container.fixed-top.w-100.h-100
    .text-center
        img.img-fluid(src="../img/logo.png")

    section.row.h-100
        .col
            form((submit)="submit()")
                .form-group
                    label Administrator API KEY
                    input.form-control([(ngModel)]="token", name="token")

                .row.w-100
                    .col
                        button.btn.btn-primary.btn-block.text-uppercase(type=submit)
                            span Continue
                            i.fa.fa-arrow-right

#loader.row.fixed-top.w-100.h-100.align-items-center.fade(*ngIf="loading")
    i.fa.fa-circle-o-notch.fa-spin.fa-3x.text-white
    div.fixed-top.w-100.h-100
