doctype html
html
    head
        meta(charset="UTF-8")
        title Signaturit - Downloader
        base(href="")
        link(href="../css/index.css", rel="stylesheet")
    body
        app

        script(src="../js/zone.js")
        script(src="../js/reflect.js")
        script(src="../js/system.js")

        script(src="../js/system.config.js")

        script(type="text/javascript") System.import('app').catch(console.error.bind(console));

        //- script(src="http://localhost:35729/livereload.js")
