@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

section {
    margin-top: 15px;

    ul {
        background-color: white;
        border: $modal-content-border-width solid $modal-content-border-color;
        height: 180px;
        padding: ($grid-gutter-width / 3);
        overflow-x: hidden;
        overflow-y: scroll;
        @include border-radius($border-radius);

        label {
            width: 348px;
            @include text-truncate();
        }

        input {
            margin-right: 6px;
        }
    }

    .row {
        bottom: ($grid-gutter-width / 2);
        position: fixed;
    }
}

#loader {
    margin-left: 0;
    opacity: 0;
    animation-duration: .4s;
    animation-name: usersFadeIn;
    animation-fill-mode: forwards;

    i {
        margin: auto;
        z-index: 1080;
    }

    div {
        background-color: $modal-backdrop-bg;
        opacity: $modal-backdrop-opacity;
    }
}

@keyframes usersFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
